version: '3.9'
services:
  fastapi-sample:
    build:
      target: dev
    volumes:
      - ./backend:/usr/src/mock_server/backend
    ports:
      - 8080:8080
    environment:
      - PORT=8080
 